@model IEnumerable<Recommender_system.Models.University>

@{
    ViewBag.Title = "University";
}

<h2>Университеты</h2>

<p>
    <a class="btn btn-default btn-primary btn-success" asp-controller="University" asp-action="AddUniversity">AddUniversity</a>
</p>
<table border="1" cellpadding="6">
    <tr>
        <th>
            @Html.DisplayNameFor(university => university.Name)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.City)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.Description)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.Faculties)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.Faculties.GetEnumerator().Current.NumberOfPoints)
        </th>
    </tr>
    @foreach (var university in Model)
    {
        <tr>
            <td>
                @university.Name
            </td>
            <td>
                @university.City
            </td>
            <td>
                @university.Description
            </td>

            <td>
                @foreach (var faculty in university.Faculties)
                {
                    <p>@faculty.Name</p>
                    <hr>
                }
            </td>
            <th>
                @foreach (var faculty in university.Faculties)
                {
                    <p>@faculty.NumberOfPoints</p>
                    <hr>
                }
            </th>
            <th>
                <p>
                    <a class="btn btn-default btn-primary btn-danger" asp-controller="University" asp-action="DeleteUniversity" asp-route-id=@university.Id>Delete</a>
                    <a class="btn btn-default btn-primary btn-danger" asp-controller="University" asp-action="EditUniversity" asp-route-id=@university>Edit</a>
                </p>
            </th>
        </tr>
    }
</table>