@model IEnumerable<Recommender_system.Models.University>

@{
    ViewBag.Title = "University";
}

<table>
    @using (Html.BeginForm("FindUniversity", "University", FormMethod.Post))
    {
        <th>
            <label>Выберите 1 предмет</label>
            <br/>
            @Html.DropDownList("typeOfFirstSubject", Html.GetEnumSelectList(typeof(TypeOfSubject)))
            <p>
                <label>Количество баллов</label><br/>
                @Html.TextBox("numberOfFirstSubject", "", new {type = "number"})
            </p>
            <br/>
            <p>
        </th>
        <th>
            <label>Выберите 2 предмет</label>
            <br/>
            @Html.DropDownList("typeOfSecondSubject", Html.GetEnumSelectList(typeof(TypeOfSubject)))
            <p>
                <label>Количество баллов</label><br/>
                @Html.TextBox("numberOfSecondSubject", "", new {type = "number"})
            </p>
            <br/>
            <p>
        </th>
        <th>
            <label>Выберите 3 предмет</label>
            <br/>
            @Html.DropDownList("typeOfThirdSubject", Html.GetEnumSelectList(typeof(TypeOfSubject)))
            <p>
                <label>Количество баллов</label><br/>
                @Html.TextBox("numberOfThirdSubject", "", new {type = "number"})
            </p>
            <br/>
            <p>
        </th>
        <th>
            <input type="submit" value="Подобрать"/>
        </th>
    }
</table>
<p>
    <a class="btn btn-default btn-primary btn-success" asp-controller="University" asp-action="AddUniversity">AddUniversity</a>
</p>
<table border="1" cellpadding="6">
    <tr>
        <th>
            @Html.DisplayNameFor(university => university.Name)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.City)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.Description)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.Faculties)
        </th>
        <th>
            @Html.DisplayNameFor(university => university.Faculties.GetEnumerator().Current.NumberOfPoints)
        </th>
    </tr>
    @foreach (var university in Model)
    {
        <tr>
            <td>
                @university.Name
            </td>
            <td>
                @university.City
            </td>
            <td>
                @university.Description
            </td>

            <td>
                @foreach (var faculty in university.Faculties)
                {
                    <p>@faculty.Name</p>
                    <hr>
                }
            </td>
            <th>
                @foreach (var faculty in university.Faculties)
                {
                    <p>@faculty.NumberOfPoints</p>
                    <hr>
                }
            </th>
            <th>
                <p>
                    <a class="btn btn-default btn-primary btn-danger" asp-controller="University" asp-action="DeleteUniversity" asp-route-id=@university.Id>Delete</a>
                    <a class="btn btn-default btn-primary btn-danger" asp-controller="University" asp-action="EditUniversity" asp-route-id=@university>Edit</a>
                </p>
            </th>
        </tr>
    }
</table>